* {
  box-sizing: border-box;
}
.backdrop {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 3;
}
@media (min-width: 769px) {
  .backdrop {
    display: none;
 }
}