.hamburger {
  display: flex;
  flex-direction: column;
  height: 24px;
  width: 32px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  justify-content: space-around;
}
.hamburger-line {
  width: 32px;
  height: 2px;
  background-color: #4a5759;
}
@media (min-width: 769px) {
  .hamburger {
    display: none;
 }
}
