.page-header {
  padding: 0 30px;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 56px;
  
}
.page-header .navbar-logo a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  white-space: nowrap;
}
.page-header .navbar {
  height: 100%;
  align-items: center;
  display: flex;
}
.page-header .navbar-links a {
  color: black;
  text-decoration: none;
}
.page-header .navbar-links a:hover, .page-header .navbar-links a:active {
  
}
.page-header .navbar-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.page-header .navbar-links ul li {
  padding: 0 0.5rem;
}
.page-header .between {
  flex: 1;
}
.a {
  border: 3px solid black;
}
@media (max-width: 768px) {
  .navbar-links {
    display: none;
 }
}
