.page-header {
  padding:  1rem ;
  top: 0;
  left: 0;
  position: fixed;
  z-index:2;
  width: 100%;
  background-color: white;
  
}
.page-header .navbar-logo a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  white-space: nowrap;
}
.page-header .navbar {
  height: 100%;
  align-items: center;
  display: flex;
}
.page-header .navbar-links a {
  color: black;
  text-decoration: none;
}

.page-header .navbar-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.page-header .navbar-links ul li {
  padding: 0 0.5rem;
}
.page-header .between {
  flex: 1;
}
.a {
  border: 3px solid black;
}
@media (max-width: 768px) {
  .navbar-links {
    display: none;
 }
 
}
@media (min-width: 769px){
  .page-header {
    padding: 0.5rem 6rem;
    
    
  }
  .page-header .navbar {
    display: block;
  }
  .page-header .navbar-logo  {
    text-align: center;
    margin-bottom: 0.5rem;
    
  }
  .page-header .navbar-logo a {
    text-align: center;
    font-size: 3rem;
  }
  .page-header .navbar-links ul {
    justify-content: space-evenly;
    padding-bottom: 1rem;
  }
}
