@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    color: #121212;
}

.laptop {
    display: block;
}

.ipad {
    display: none;
}

.split {
    width: 50%;
    padding-top: 20px;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.left {
    text-align: center;
    padding-left: 10%;
    position: absolute;
    top: 20%;
    -ms-transform: translateY(-50%, -50%);
    transform: translateY(-50%);
}

.right {
    right: 0;
    text-align: center;
}

.image img {
    width: 300px;
    height: 300px;
    border: 2px solid #ffffff;
    padding-bottom: 20px;
}

.desc h2 {
    font-size: 50px;
}

.intro {
    padding-top: 350px;
    padding-left: 200px;
    padding-right: 200px;
}

.intro h2 {
    text-align: left;
    font-size: 100px;
    padding-bottom: 10px;
    /*padding-left: 300px;*/
}

.intro p {
    color: rgba(82,82,82,.6);
    
    /*padding-left: 300px;
    padding-right: 300px;*/
    font-size: 18px;
    line-height: 35px;
}

@media screen and (max-width: 1000px) {
    .laptop {
        display: none;
    }

    .ipad {
        display: block;
        padding-top: 20px;
    }

    .image {
        text-align: center;
    }

    .desc {
        text-align: center;
    }

    .intro {
        padding-top: 20px;
    }
}

@media screen and (max-width: 800px) {
    .intro {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (max-width: 650px) {
    .desc h2 {
        font-size: 40px;
    }
}

@media screen and (max-width: 450px) {
    .desc h2 {
        font-size: 30px;
    }

    .intro {
        padding-left: 50px;
        padding-right: 50px;
    }
}